.main-container {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: white;

  border-radius: 15px;
  overflow: hidden;
}

.cover-container img {
  width: 100%;
  height: 100%;
}

.text-container {
  border-radius: 15px;
  display: grid;
  grid-auto-rows: 30% 45% 25%;
  padding: 5% 8%;
  align-items: center;
}

.text-container h2 {
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: bold;
}

.text-container p {
  font-size: 0.78rem;
}

.button_message_show {
  display: none;
}

.footer {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 80% 20%;
}

.user {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}

.user figure {
  display: grid;
  width: 100%;
}

.user figure img {
  border-radius: 50%;
  width: 100%;
}

.user-info {
  padding-left: 5%;
}

.share-button {
  display: grid;
  justify-items: center;
  align-items: center;
}

.share-button figure {
  height: 80%;
  background: var(--title-txt-color);
  border-radius: 50%;
  width: 70%;
  display: grid;
  align-items: center;
  justify-items: center;
}
